* a{
    color:aliceblue;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color:blue;
}

body{
    color: aliceblue;
}

.menu img{
    width: 8vh;
    display: flex;
}
.menu #text-menu{
    width: 100%;
}
.menu #text-menu p{
    text-align: center;
    font-size:1.1vh;
    background-color: #0c344c;
    color: aliceblue;
    width: 100%;
    height: 37px;
    
}

.menu #img-menu{
    height: 70px;
    background-color: #0c344c;
    padding-left: 0.3vh;
    padding-right: 0.3vh;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.menu {
    display: flex;
    background-image: image-set("../icons/capa-emerj2.jpg");
    width: 100%;
    height: 20vh;
}
.bar-top{
    margin: 0;
    background-color: #0c344c;
    width: 2%;
    height: 37px;
}
.btn-link{
    color: aliceblue;
    text-decoration: none;
}
.btn-link img{
    border-radius: 21px;
}
.box-links{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-links img{
    width: 100px;
    margin: 8px;
}

.container{
    position: relative;
    width: 100%;
    background-color: #0c344c;
    min-height: 80vh;
    background-image: linear-gradient(0deg,#0c344c,  #364f61, #475663);
}

.content-page{
    padding-bottom: 2.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 44vh;

    font-size: small;
}
